.Title {
   text-align: center;

   font-size: rem(32);

   &_medium {
      font-weight: 500;
   }

   &_sub {
      font-size: rem(14);
      line-height: 170%;
   }

   &:not(:last-child) {
      margin-bottom: rem(50);

      transition: margin-bottom $primaryTransition;

      @media (max-width: em($tablet)) {
         margin-bottom: rem(30);
      }
   }
}