.Decoration {
   position: relative;

   width: rem(199.2);
   height: rem(383.24);

   &__wrapper {
      position: absolute;

      &_html {
         top: 0;
         right: rem(7.61);
      }

      &_css {
         top: rem(96.45);
         left: 0;
      }

      &_js {
         top: rem(162.2);
         right: 0;
      }

      &_sublime {
         top: rem(229);
         left: 0;
      }

      &_vscode {
         right: rem(34);
         bottom: 0;
      }
   }
}