.MainPage {
    $p: &;

    &__container {
        display: flex;
        justify-content: space-between;
        column-gap: rem(35);

        @include adaptiveValue("row-gap", 40, 20, 0, $mobile, $boundaryMobile);

        @media (max-width: em($mobile)) {
            align-items: center;
            flex-direction: column;
        }
    }

    &__information {
        max-width: rem(427);

        @media (min-width: em($mobile)) {
            margin-top: rem(10);
        }

        @media (max-width: em($smallMobile)) {
            display: grid;    
        }
    }


    &__form {
        @media (min-width: em($mobile)) {
            flex: 0 0 auto;

            width: rem(366);
        }

        @media (max-width: em($mobile)) {
            max-width: rem(366);
        }
    }


    &__section {
        margin-top: rem(92);

        @media (max-width: em($tablet)) {
            @include adaptiveValue("margin-top", 92, 0, 0, $mobile, $boundaryMobile);
        }
    }

    

    &__benefitsList {
        @media (max-width: em($mobile)) {
            flex-direction: column-reverse;

            max-width: rem(224);
            margin-top: rem(19);
        }
    }
}