.FulfiledModal {
   &__title {
      width: 100%;

      margin-bottom: rem(20);

      text-align: center;

      color: rgb(190, 255, 94);

      font-size: rem(24);
      font-weight: 600
   }

   &__text {
      max-width: rem(300);
      margin: 0 auto;

      text-align: center;

      font-size: rem(18);
   }
}