* {
	margin: 0;
	padding: 0;

	border: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

:focus,
:active {
	// outline: none;
}

html,
body {
	overflow: hidden;

	min-width: $minWidth + px;
	height: 100svh;
}

html {
   overflow-x:hidden;

	// scroll-behavior: smooth;
}

body {
	color: $fontColor;
	background: $layoutColor;

	font-family: $fontFamily;
	font-size: rem($fontSize);
	line-height: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	// text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
}

input,
button,
textarea {
	color: inherit;

	font-family: $fontFamily;
	font-size: inherit;
}

address {
	font-style: inherit;
}

input {
	outline: none;
}

button {
	cursor: pointer;

	color: inherit;
	background-color: inherit;
}

a {
	display: block;

	color: inherit;
}

a:focus,
a:active {
	// outline: none;
}

a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

span {
	display: inline-block;
}

#root {
	height: 100svh;
}
