.Modal {
	$p: &;

	overflow: auto;
	
	&__content {
		position: relative;

		max-width: rem(600);

		margin: rem(10);
		padding: rem(30) rem(35);
		padding-top: rem(90);
		padding-bottom: rem(90);

		transition: all 0.5s ease;

		border-radius: rem(20);

		background-color: #fff;
		box-shadow: 0 rem(4) rem(30) 0 rgba(0, 0, 0, 0.1);
	}

	&__closeButton {
      position: absolute;
		top: rem(20);
		right: rem(20);
   }

	&_enter {
		#{$p} {
			&__content {
				transition: transform $primaryTransition;
			}
		}
	}

	&_enterFrom {
		#{$p} {
			&__content {
				transform: scale(0.2);
			}
		}
	}

	&_enterTo {
		#{$p} {
			&__content {
				transform: scale(1);
			}
		}
	}

	&_leave {
		#{$p} {
			&__content {
				transition: transform $primaryTransition;
			}
		}
		
	}

	&_leaveFrom {
		#{$p} {
			&__content {
				transform: scale(1);
			}
		}
	}

	&_leaveTo {
		#{$p} {
			&__content {
				transform: scale(0.2);
			}
		}
	}
}

.CloseButton {
   $p: &;

   display: flex;
   align-items: center;
   justify-content: center;

   width: em(50);
   height: em(50);

   transition: background-color $primaryTransition, color $primaryTransition;

   border: em(2) solid $blueColor;
   border-radius: 50%;

	font-size: rem(13);

   &:hover {
      background-color: $blueColor;

      #{$p} {
         &__icon {
            fill: $whiteColor;
         }
      }
   }

   &__icon {
      fill: $blueColor;

      width: em(20);
      height: em(20);
   }
}


.overflowHidden {
	overflow: hidden;
}