.Select {
    $p: &;
    position: relative;
    z-index: 1;

    width: max-content;

    border-radius: rem(12);

    font-size: rem(16);
    

    &__summary {
        display: flex;
        align-items: center;

        box-sizing: content-box;
        padding: em(15);

        cursor: pointer;

        transition: font-size $primaryTransition;

        border: em(1) solid $blueColor;
        border-radius: em(8);
        gap: em(20);        
    }


    &_secondary {
        #{$p} {

        }
    }

    &_active {
        #{$p} {
            &__arrow {
                transform: rotate3d(1, 0, 0, 180deg);
            }

            &__options {
                opacity: 1;
            }
        }
    }

    &_nonActive {
        #{$p} {
            &__options {
                cursor: none;
                pointer-events: none;

                opacity: 0;
            }
        }
    }

    &__options {
        position: absolute;
        top: calc(100% + rem(1));
        left: 0;

        display: grid;

        min-width: 100%;

        transition: opacity $primaryTransition;

        border: rem(1) solid #3f409b;                                                                      
        border-radius: rem(8);
        background-color: rgba(255, 255, 255, 1);

        > *:not(:last-child) {
            &::after {
                position: absolute;
                bottom: 0;
                left: 50%;

                width: percent(467, 498);
                height: rem(1);

                content: "";
                transform: translateX(-50%);

                background-color: $blueColor;
            }
        }
    }
    &__placeholder {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        width: 100%;

        text-wrap: nowrap;

        color: $blueColor;
    }

    &__arrow {
        width: em(20);
        height: em(20);

        transition: transform 0.45s linear;
    }
}
